.navbar {
    width: 100%;
    padding: 16px 24px; /* Padding for top and bottom of navbar */
    position: relative;
    font-family: "ZonaPro", sans-serif;
  }
  
  .logo {
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 24px;
    top: 24px;
    cursor: pointer;
  }
  
  .navlinks {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 32px; /* Space between links */
  }
  
  .navlink {
    font-size: 18px;
    cursor: pointer;
    color: #171717;
  }
  
  .navlink:hover {
    color: #0070f3; /* Change color on hover */
  }
  